body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
#profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
#tabs {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}
#main-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}
.content-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(
    19% - 20px
  ); /* Breite so einstellen, dass 5 in einer Reihe passen und Platz zwischen den Beiträgen bleibt */
  margin-bottom: 20px;
  margin-right: 20px; /* Platz zwischen den Beiträgen */
  overflow: hidden;
  position: relative;
}
.content-box img {
  width: 100%;
  height: 100%; /* Bildhöhe auf 100% setzen */
  object-fit: cover; /* Quadratische Bilder */
}
.tab {
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  color: #333;
  border-radius: 5px;
  border: 1px solid #333;
}

.tab.active {
  font-weight: bold;
  color: #000;
  border-color: #555;
  border-width: 2px;
}

.tab:hover {
  background-color: #ddd;
}
.post-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
}
.content-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(
    19% - 20px
  ); /* Width so that 5 fit in a row with space between posts */
  margin-bottom: 20px;
  margin-right: 20px; /* Space between posts */
  overflow: hidden;
  position: relative;
}

.content-box::before {
  content: "";
  display: block;
  padding-top: 100%; /* 1:1 Aspect Ratio (square) */
}

.content-box > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.view-post-btn {
  top: auto;
  left: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.view-post-btn img {
  margin-right: 5px;
}
.views {
  margin-left: 5px;
}

.post-date {
  top: auto;
  right: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.date {
  margin-left: 5px;
}
.disabled-div {
  border: #333 solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  color: #000;
  padding: 9px;
  width: 80%;
}
.content {
  margin: 20px;
  margin-left: 30px;
}
.content input {
  border: #333 solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  color: #000;
  padding: 9px;
  width: calc(60% - 10px);
  margin-right: 10px;
  margin-top: 20px;
}
.content select {
  border: #333 solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  color: #000;
  padding: 9px;
  width: 80%;
}
.content button {
  border: #333 solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  color: #000;
  padding: 9px;
  margin-left: 0px;
  width: 20%;
}
